<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Content</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header class="header-bar">
    <div class="header-text">
        Blog content:
    </div>
    <div class="header-actions">
        <a th:href="@{/}"><button class="button" type="button"><span>Back to Blogs</span></button></a>
        <form th:action="@{/logout}" method="post" style="margin: 0;">
            <button class="button" type="submit"><span>Logout</span></button>
        </form>
    </div>
</header>

<main class="container" style="max-width: 800px; margin-top: 1rem; text-align: left;">
    <div style="margin-bottom: 2rem; text-align: center;">
        <span style="font-size: 1.2rem; font-weight: bold;">Title</span><br>
        <h1 class="heading__title" th:text="${blog.title}" style="display: inline-block; margin-top: 0.5rem; margin-bottom: 0.5rem; font-size: 2.5rem;"></h1><br>
        <div style="display: flex; justify-content: center; align-items: center; gap: 0.5rem;">
            <span style="font-size: 1.2rem;">Written at:</span>
            <h6 th:text="${blog.getDateWritten()}" style="font-size: 1.2rem; margin: 0; opacity: 0.8; font-weight: normal;"></h6>
        </div>
    </div>

    <div>
        <span style="font-size: 1.5rem; font-weight: bold;">content</span><br>
        <p th:text="${blog.content}" style="background-color: transparent; padding: 2rem; border: dashed 3px #ea95e0; border-radius: 15px 3px 3px 15px; min-height: 250px; font-size: 1.3rem; line-height: 1.6; white-space: pre-wrap; margin-top: 1rem;"></p>
    </div>
</main>
</body>
</html>