<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<section class="container">
    <div class="heading">
        <h1 class="heading__title">Signup</h1>
    </div>
    <form class="form" th:action="@{/signup}" method="post" th:object="${User}">
        <div>
            <label class="form__label" for="name">Full name:</label>
            <input class="form__input" type="text" id="name" th:field="*{name}" required>
        </div>
        <div>
            <label class="form__label" for="username">Username:</label>
            <input class="form__input" type="text" id="username" th:field="*{username}" required>
        </div>
        <div>
            <label class="form__label" for="password">Password:</label>
            <input class="form__input" type="password" id="password" th:field="*{password}" required>
        </div>
        <button class="button" type="submit"><span>Submit</span></button>
    </form>
</section>
</body>
</html>